/* HERO   */

.hero {
  position: relative;
  padding: auto;
}

.hero img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(0.2);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 40%;
  margin: auto;
}

.hero-text h1,
.hero-text p,
.hero-text a {
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-size: 100px;
}

.hero button {
  padding: 1rem 0.5rem;
  width: 200px;
  border-radius: 1.5rem;
  border: unset;
  color: aqua;
  background: hsl(226, 70%, 27%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero button:hover {
  background: hsl(209, 85%, 27%);
}

.show {
  display: block;
}
.hide {
  display: none;
}
