/* HERO   */

.hero {
  position: relative;
  padding: auto;
}

.hero img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  display: grid;
  place-items: center;
  top: 50%;
  left: 40%;
  margin: auto;
}

.hero-text h1,
.hero-text p,
.hero-text a {
  text-align: center;
}
