.nav-header {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  z-index: 100000000;
  height: 50px;
  width: 90vw;
  background: rgb(252, 250, 250);
}

.nav-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header .nav-logo {
}
.nav-header .nav-list {
}
.nav-header .nav-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-header .nav-cta {
  gap: 1rem;
}
.nav-header .nav-cta button {
  padding: 0.5rem;
  width: 100px;
  border-radius: 1rem;
  border: unset;
  cursor: pointer;
  color: whitesmoke;
  background: hsl(226, 70%, 27%);
}
.nav-header .nav-cta button:hover {
  background: hsl(226, 70%, 77%);
  transition: all 0.5s ease;
}
