main .container {
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 75%;
  height: 100vh;
  /* background: blue; */
}

.side-content {
  width: 23%;
  height: 100vh;
  background: blue;
}

@media screen and (max-width: 768px) {
  main .container {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
  .side-content {
    width: 100%;
  }
}
