.home-container {
  height: 100%;
  margin-bottom: 20rem;
}

/* SLOTS  */

.slots-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 200px);
  gap: 0.5rem;
  padding: 1rem;
}

.slots-container .slot {
  position: relative;
}
.slots-container .slot img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.1);
}

.slots-container .slot-one {
  grid-area: 1 / 1 / 3 / 3;
}

.slots-container .slot-two {
  grid-area: 1 / 3 / 2 / 5;
}
.slots-container .slot-three {
  grid-area: 2 / 3 / 3 / 4;
}
.slots-container .slot-four {
  grid-area: 2 / 4 / 3 / 5;
}

.slots-container .slot div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.slots-container .slot button {
  border: unset;
  padding: 0.2rem;
  text-transform: uppercase;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 0.7rem;
}
.slots-container .slot h3 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  text-transform: capitalize;
  text-align: center;
  padding: 0 2rem;
  font-size: calc(10px + (10 - 2) * ((100vw - 300px) / (1600 - 300)));
}
.slots-container .slot p {
  background: hsl(0, 58%, 30%);
  color: aliceblue;
  padding: 0.1rem 0.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* POPULAR  */

.popular-container {
  padding: 2rem;
}

.popular-container .post {
  width: 300px;
  height: 200px;
}
.popular-container .post div {
  width: 95%;
  height: 200px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../images/popular/stripe.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.popular-container .post div button {
  padding: 0.3rem;
  border: unset;
  background: rgb(21, 43, 117);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: whitesmoke;
}
.popular-container .post div h3 {
  font-size: calc(10px + (10 - 2) * ((100vw - 300px) / (1600 - 300)));

  padding: 0.2rem 0.5rem;
  letter-spacing: 0.1rem;
}
.popular-container .post div p {
  background: hsl(0, 58%, 30%);
  position: absolute;
  font-size: 0.7rem;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.2rem;
}

/* CATEGORIES  */

.home-categories {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.home-categories button {
  padding: 1rem;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .slots-container .slot-one {
    grid-area: 1 / 1 / 2 / 3;
  }

  .slots-container .slot-two {
    grid-area: 1 / 3 / 2 / 5;
  }
  .slots-container .slot-three {
    grid-area: 2 / 1 / 3 / 3;
  }
  .slots-container .slot-four {
    grid-area: 2 / 3 / 3 / 5;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
  .slots-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .slots-container .slot-one {
    grid-area: 1 / 1 / 2 / 2;
  }

  .slots-container .slot-two {
    grid-area: 2 / 1 / 3 / 2;
  }
  .slots-container .slot-three {
    grid-area: 3 / 1 / 4 / 2;
  }
  .slots-container .slot-four {
    grid-area: 4 / 1 / 5 / 2;
  }
}
